.header__contacts-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 21px;
}

@media screen and (max-width: 840px) {
  .header__contacts-menu {
    display: none;
  }
}
