.page {
  background-color: #fff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* section,
div,
header,
footer,
main,
input,
button,
ul, li, p, a, h1, h2, h3, h4 {
  outline: 1px solid blue;
} */
