.social__link_twitter {
  background-image: url(../../../../images/icon-twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 13px;
}

.social__link_twitter:hover {
  background-image: url(../../../../images/icon-twitter-active.svg);
}
