.header__container {
  width: 100%;
  max-width: 1146px;
  height: 133px;
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width: 840px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }
}
