.header__social-icons-link_vk {
  background-image: url(../../../../images/icon-vk.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px 11px;
}

.header__social-icons-link_vk:hover {
  background-image: url(../../../../images/icon-vk-active.svg);
}
