.footer__contacts-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer__contacts-link:link {
  color: #fff;
}

.footer__contacts-link:active {
  color: #fff;
}

.footer__contacts-link:visited {
  color: #fff;
}
