.header__mobile-menu-button {
  display: none;
  border-radius: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url("../../../images/header-menu.svg");
  background-size: 24px 24px;
  cursor: pointer;
  margin-right: 15px;
}

@media screen and (max-width: 840px) {
  .header__mobile-menu-button {
    display: block;
  }
}
