.header__right {
  margin-top: 27px;
  min-width: 178px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1162px) {
  .header__right {
    padding-right: 15px;
  }
}

@media screen and (max-width: 1015px) {
  .header__right {
    display: none;
  }
}

