.header__menu {
  margin-left: auto;
  margin-top: 41px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media screen and (max-width: 1015px) {
  .header__menu {
    padding-right: 15px;
  }
}

@media screen and (max-width: 840px) {
  .header__menu {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .header__menu {
    display: none;
  }
}
